* {
    margin: 0;
    padding: 0;
}




.logo-home {
    display: flex;

    background: #d42f52;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo {
    padding-left: 20px;
}

.home {
    list-style: none;
    display: flex;
    gap: 30px;
    padding-right: 10px;
    font-family: Lato;
    font-size: 24px;

}

li a {
    text-decoration: none;
    color: aliceblue;
}

.banner-container {
    display: flex;
    justify-content: space-around;
    height: 100vh;
    background-color: #E554731A;
    align-items: center;
    padding: 50px 50px 0px 100px;
}

.banner-img {
    width: 635px;
    height: 700px;
    margin-top: 50px;


}

.banner-title {
    color: #272727;
    font-family: Lato;
    font-size: 80px;
    font-weight: 800;
    margin-bottom: 30px;

}

.banner-p {
    color: #27272799;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 20px;
}

.banner-btn {
    display: inline-flex;
    padding: 20px 43px;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
    color: #FFFFFF;
}

.our-flowers {
    display: block;
    text-align: center;
    margin-top: 40px;
    padding: 30px;

}

.our-flower-t {
    margin-bottom: 20px;
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;

}

.our-flower-p {
    color: #27272799;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.flower-container {
    display: flex;
    align-items: center;
    padding: 90px;
    gap: auto;
    text-align: center;
    margin: auto;

}

.img-name {
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
}


.img-name1 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    width: 350px;
    height: 450px;

}



.img-name2 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);


    width: 350px;
    height: 450px;
}

.img-name3 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(113, 215, 12, 0.15);

    width: 350px;
    height: 450px;

}

.icon-container {
    display: flex;
    align-items: center;
    gap: 40px;

    height: 320px;

    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    justify-content: center;
    margin: 80px;
    margin-left: 140px;
    margin-right: 140px;
}

.banner-container2 {
    display: flex;
    justify-content: space-around;
    background-color: #E554731A;
    align-items: center;
    padding: 50px;

}

.banner-text2 {
    color: #272727;
    font-family: Lato;
    font-size: 30px;

    text-align: center;
    margin-bottom: 30px;

}

.banner-p2 {
    margin: 30px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
}

.off {
    color: #E55473;
}

.instagram {
    margin: 50px;
    text-align: center;
}

.instagram-h {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: 800;

}

.instagram-p{
    
font-family: Lato;
font-size: 18px;
color: #17151599;
font-weight: 400;
line-height: 30px;
}



.pictures {

    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    padding-left: 80px;
    padding-right: 80px;

}

.footer-input {
  
    justify-content: center;
    background-image: url("/rectangle\ 9.jpg");
    background-repeat: no-repeat;
    justify-content: center;
    padding: 50px;
    width: 86%;
    margin: auto;
    margin-bottom: 40px;

}

.input-title {
    display: block;
    text-align: center;
    margin-bottom: 20px;

}

.get {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
    margin: 20px;
    margin-top: 30px;

}

.names {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 30px;

}

.email-id {
    width: 500px;
    height: 50px;

    border-radius: 8px;
    background: #FFF;
}

.footer {
    margin-top: 60px;
    display: block;
    text-align: center;
    gap: 20px;
    background: #111010;
}

.footer-h2 {
    margin-top: 40px;
    padding: 30px;
    font-family: Lato;
    font-size: 48px;
    font-weight: 800;
    color: #FFFFFF;

}

.footer-h4 {
    color: #FFFFFFE5;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 20px;
}
.footer-l{
color: #FFFFFF66;
font-family: Lato;
font-size: 16px;
font-weight: 400;
margin-top: 20px;
padding-bottom: 40px;

}